<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GarminSync</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/components.css" rel="stylesheet">
    <link href="/static/responsive.css" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="/static/navigation.js"></script>
    <script src="/static/utils.js"></script>
    
    {% block page_scripts %}{% endblock %}
</body>
</html>
